In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
import sys
import os

In [13]:
csv_path = "Resources/data.csv"
music_df = pd.read_csv(csv_path)
music_df.head()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.0594,1921,0.982,"['Sergei Rachmaninoff', 'James Levine', 'Berli...",0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,0.878000,10,0.665,-20.096,1,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921,0.0366,80.954
1,0.9630,1921,0.732,['Dennis Day'],0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,0.000000,7,0.160,-12.441,1,Clancy Lowered the Boom,5,1921,0.4150,60.936
2,0.0394,1921,0.961,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,0.913000,3,0.101,-14.850,1,Gati Bali,5,1921,0.0339,110.339
3,0.1650,1921,0.967,['Frank Parker'],0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,0.000028,5,0.381,-9.316,1,Danny Boy,3,1921,0.0354,100.109
4,0.2530,1921,0.957,['Phil Regan'],0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,0.000002,3,0.229,-10.096,1,When Irish Eyes Are Smiling,2,1921,0.0380,101.665

In [15]:
# Create dataframe with only necesary columns
year_df = music_df[["release_date", "popularity"]]

In [18]:
year_df.sample(20)

       release_date  popularity
59648    1942-11-13           0
110827   1950-01-01           0
54463    2006-02-14          50
69081          1990          43
35885    2006-06-30          64
21417          1933           2
51623    1992-06-01          44
96826          1960           9
58148    1930-12-05           0
138752   2009-11-30          43
35359    2004-08-16          59
25217    1952-12-01           6
148893   1986-10-20          32
162263         1978          42
5241           1948          23
79314          1954           2
40777          1937           0
47041    1969-01-12          37
128593   1959-05-10           8
129153   1961-03-05          12

In [19]:
1931_df = year_df.loc[year_df["realease_date"] <= "1931"]

SyntaxError: invalid decimal literal (<ipython-input-19-d7c3685648ca>, line 1)